{% extends 'base.html' %} {% block title%} Edit Contact {% endblock%} {% block
section%}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form
        class="bg-dark mt-5 p-5 edt_con text-white"
        method="post"
        enctype="multipart/form-data"
      >
        {{ form.hidden_tag() }} {{form.name.label(class="mb-0 mt-2")}}
        {{form.name(class="form-control", placeholder="Name")}}
        {{form.surname.label(class="mb-0 mt-2")}}
        {{form.surname(class="form-control", placeholder="Surname")}}
        {{form.phone.label(class="mb-0 mt-2")}}
        {{form.phone(class="form-control", placeholder="Phone Number")}}
        {{form.email_address.label(class="mb-0 mt-2")}}
        {{form.email_address(class="form-control", placeholder="Email
        Address")}} {{form.home_address.label(class="mb-0 mt-2")}}
        {{form.home_address(class="form-control", placeholder="Home Address")}}
        {{form.description.label(class="mb-0 mt-2")}}
        {{form.description(class="form-control", placeholder="Description")}}
        {{form.picture.label()}} {{form.picture(class="form-control-file")}} {{
        form.submit(class="btn btn-lg mt-2 btn-info") }}
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{%endblock%}
